[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pillow = "*"
ipython = "*"
maturin = "*"
ipdb = "*"
pdbpp = "*"
mock = "*"

[packages]

[requires]
python_version = "3.8"
